@{
    ViewData["Title"] = "PetVet";
}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title> PetVet </title>
        <meta charset="utf-8">
        <meta charset="keyboards" content="html, css">
        <meta name="description" content="petsho, banho, cachorro, gato, veterinario">
    </head>
    <body>
        <header>
            <div class="class1">
                <a asp-controller="Home" asp-action="Index"></a><h1>PetVet</h1></a>
            </div>
            <div >
                <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
               &ensp;
               <a asp-area="" asp-controller="Home" asp-action="Servicos">Serviços</a>
               &ensp;
               <a asp-area="" asp-controller="Home" asp-action="Agendamento">Agendamento</a>
               &ensp;
                   
            </div>
        </header>
        <main>
            <div class="class2">
                <h1>Bem Vindo ao site da Veterinaria</h1>
            </div> &ensp;
            <div>
                <img src="https://blog.vindi.com.br/wp-content/uploads/2020/04/Recorr%C3%AAncia-para-petshop-capa.jpg"> 
            </div> &ensp;
            <div> 
                <h3></h3>
                <p>Pet Shop é uma loja que vende produtos e serviços voltados para animais domésticos, que vão desde venda de rações, coleiras, brinquedos, camas e podem incluir serviços como hospedagem de animais e veterinário.</p>
            </div>


        </main>
        <footer>
            <strong>©Copyright 2022. PetVet Veterinaria  </strong>
        </footer>
    </body>

  
</html>