<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>PetVet</title>
        <meta charset="utf-8">
        <meta charset="keyboards" content="html, css">
        <meta name="description" content="petsho, banho, cachorro, gato, veterinario">
    </head>
    <body>
        <header>
           <div class="class1">
                <a asp-controller="Home" asp-action="Index"><h1 class="tit1">PetVet</h1></a>
            </div>
            <div >
                  <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
               &ensp;
               <a asp-area="" asp-controller="Home" asp-action="Servicos">Serviços</a>
               &ensp;
               <a asp-area="" asp-controller="Home" asp-action="Agendamento">Agendamento</a>
               &ensp;
                   
            </div>
        </header>
        &ensp;
        <main>
            <div>
            <summary class="sum1">Banho & Tosa </summary>
            <details><strong>Descrição do Banho & Tosa: </strong>O Banho & Tosa corta e apara os pelos do animal, limpa os ouvidos, corta as unhas, entre outros processos ligados a higienização.</details>
            <details>
                <strong>Valores: </strong>
                A tosa simples apresenta preços de R$ 35 até R$ 80. Um banho carrapaticida tem ofertas de R$ 35 até R$ 60. A tosa higiênica apresenta preços de R$ 35 até R$ 60. O banho simples para cães de porte médio tem ofertas de R$ 30 até R$ 50</details>
            </div>
            <div>
                <summary class="sum2">Veterinária</summary>
                <details><strong>Descrição Veterinária: </strong>Veterinária é a ciência dedicada ao estudo, prevenção e tratamento das doenças dos animais. ... Além de cuidar da saúde dos animais, o profissional de Medicina Veterinária pode atuar no controle de qualidade de produtos industriais e em pesquisas na área de zoonoses</details>
                <details><strong>Valores: </strong> uma consulta com um homeopata veterinário? A consulta com veterinário homeopata é R$ 150,00, com retorno em até 1 mês após a 1ª consulta.</details>
            </div>
            <div>
                <summary class="sum3">Hospedagem de Pet</summary>
                    <details><strong>Descrição sobre Hospedagem: </strong>
                    hospedagem de Pet, como próprio nome já diz, é um negócio que oferece como serviço principal a hospedagem aos cãezinhos que estão precisando ficar em algum lugar enquanto seus donos precisam fazer alguma atividade que eles não podem acompanhar.
                    </details>
                    <details>
                        <strong>Valores: </strong>
                        Uma diária da hospedagem pode variar dependendo do porte do seu pet. porte pequenos podem chegar até R$ 60,00.
                        Porte médio R$ 75,00 e Porte Grande R$ 80,00.
                    
                    </details>
                
            </div>
        </main>
        <footer>
            <strong>©Copyright 2022. PetVet Veterinaria  </strong>
        </footer>
    </body>
</html>